
body{
  /*background-image: url(/cvnator/img/handsake-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;*/
  margin: 0;
  padding: 0;
  position: relative;
}
.background-static{
  background-image: url(/cvnator/img/handsake-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: -1;
  width: 100%;
    height: 100%;
}
#main{
 width: 960px;
 border: solid 1px gray;
 margin: 0 auto;
 background-color: rgba(255,255,255,0.90);

  }
#personaldate{
  position: relative;
  display: block;
  height: auto;
  overflow:hidden;
}
.logopozition2{    margin-left: 27%;}
.logopozition{    margin-left: 25%;}
.prezentation{
  width: 98%;
  border: solid 1px gray;
  height: 380px;
  position: relative;
  margin-left: 0.9%;
  overflow: hidden;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 15px;
}
.bold{
  font-weight: bold;
}
#edit1{
  height: 35px;
  width: 35px;
  background-color: #ADADAD;
  border-radius: 5px;
  border-color: grey;
  position: absolute;
  left: 895px;
  top: 9px;
  z-index: 99;
}
#edit1 img {
  position: absolute;
  left:5px;
  top:5px;
}
#edit1:hover {
  background-color: gray;
  cursor: pointer;
}
#de_editat{
  position:relative;
}
#save1{
  height: 35px;
  width: 75px;
  border:solid gray 1px;
  border-radius: 5px;
  background-color: #ADADAD;
  position :absolute;
  left: 870px;
  top: 17px;
}
.savetext{
  position: absolute;
  top: 8px;
  left: 16px;
}
#save1:hover{
  background-color: gray;
  cursor: pointer;
}
.micsoreaza{
animation: out 1s linear 1;
-webkit-animation:out 1s linear 1 forwards;
}
.sdate {
    position: absolute;
    top: 5px;
    left: 174px;
}
@keyframes out{
  0% {height:380px;}
  100%{height:0px;}

}
/*@-webkit-keyframes out{
  0% {height:300px;}
  100%{height:0px;}
}*/
.mareste{
  animation: back 1s linear 1;
  -webkit-animation:back 1s linear 1 forwards;

}
.celformat{
  border-radius: 5px;
}
@keyframes back{
  0% {height:0px;}
  100%{height:380px;}

}
/*@-webkit-keyframes back{
  0%  {height:0px;}
  100%{height:300px;}
}*/

.preview{
  position: relative;
      background-color: white;
      color: black;
      width: 83px;
      border-radius: 5px;
      float: right;
      display: inline;
}
.preview-text{
  position: absolute;
top: 4px;
left: 29px;
}
.previev-img{
      margin-left: 3px;
}
.logout-text{
  position: absolute;
top: 4px;
left: 29px;
}
#logout{
  position: relative;
    display: inline;
    float: right;
    margin: 0 9px;
    background-color: white;
    color: black;
    width: 83px;
    border-radius: 5px;
}
#logout{
  cursor:pointer;
}
.space {
  padding-bottom: 20px;
}
.header{
  height:50px; color:white; background-color:#800072;
}
